<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %>

  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airport</th>
        <th>Flight#</th>
        <th>Airline</th>
        <th>Departure</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>
        <tr>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.airline %></td>
          <td><%= flight.departs %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <a href="/">Return Home</a>
<%- include('../partials/footer') %> 