<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airport:</div>
    <div>
      <%= flight.title %>
      <a href="/flights/<%= flight._id %>/edit">
        <button>Edit Flight</button>
      </a>
    </div>
    <div>Flight#:</div>
    <div> <%= flight.flightNo %></div>
    <div>Airline:</div>
    <div><%= flight.airline %></div>
    <div>Departure:</div>
    <div><%= flight.departs %></div>
  </section>

</main>
<%- include('../partials/footer') %> 