<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airport:</div>
    <div>
      <%= flight.airport %>
      <a href="/flights/<%= flight._id %>/edit">
        <button>Edit Flight</button>
      </a>
    </div>
    <div>Flight#:</div>
    <div> <%= flight.flightNo %></div>
    <div>Airline:</div>
    <div><%= flight.airline %></div>
    <div>Departure:</div>
    <div><%= flight.departs %></div>
  </section>
  <h2>Ticket</h2>
  <form 
    id="add-ticket-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
    <label for="content-textarea">Seat:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <label for="price-select">Price:</label>
    <input type="text" name="price" required>
    <button type="submit">Add Ticket</button>
  </form>
</main>
<%- include('../partials/footer') %> 